body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #1f1c2c, #928dab);
  color: white;
}

.container {
  text-align: center;
}

h1 span {
  color: #ffd700;
}
